<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Movie - MovieWeb App</title>
</head>
<body>
    <h1>Add Movie</h1>
        <form action="/<user_id>/add_movie" method="POST">
          <label for="movie">Movie name:</label>
          <input type="text" id="movie" name="movie" required>
          <br>
          <label for="director">Director:</label>
          <input type="text" id="director" name="director" required>
          <br>
          <label for="year">Year of Release:</label>
          <input type="text" id="year" name="year" required>
          <br>
          <label for="rating">Movie Rating:</label>
          <input type="text" id="rating" name="rating" required>
          <br>
          <input type="submit" value="Add Movie">
    </form>

</body>
</html>