<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Finding Movie</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
    <h1>Oh Dear...</h1>
</header>
<div class="container">
        <h2>I'm afraid we couldn't find the movie you're looking for in the database.</h2>
            <p>Would you like to try again? Click the "Add Movie" button below.</p>
            <form action="/users/{{ user_id }}/add_movie" method="GET" style="display: inline;">
                <button type="submit">Add Movie</button>
            </form>
        </div>
            <footer>
                <p>&copy; 2023 MovieWeb App. All rights reserved.</p>
            </footer>
</body>
</html>