<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Such User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
    <h1>Oh Dear...</h1>
    <header>
        <div class="container">
        <h2>I'm afraid we couldn't find the user you're looking for.</h2>
            <p>Would you like to register a new user? Click the "Add User" button below.</p>
            <form action="/add_user" method="GET" style="display: inline;">
                <button type="submit">Add User</button>
            </form>
        </div>
            <footer>
                <p>&copy; 2023 MovieWeb App. All rights reserved.</p>
            </footer>
</body>
</html>