<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users-MovieWeb App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header><h1>Users</h1></header>
    <div class="container">
    <ul class="user-list">
        {% for user in users %}
  <li class="user-item"><a href="/users/{{ user['id'] }}">{{ user['name'] }}</a></li>
{% endfor %}
    </ul>

    <form action="/add_user" method="GET" style="display: inline;">
        <button type="submit">Add User</button>
    </form>
</div>
    <footer>
        <p>&copy; 2023 MovieWeb App. All rights reserved.</p>
    </footer>
</body>
</html>
